:root {
   --bg: #323233;
   --text: #e2e8f0;
   --muted: #94a3b8;
   --accent: #fff69b;
}

* {
   /* box-sizing: border-box; */
}

body {
   margin: 0;
   font-family: system-ui, Arial, sans-serif;
   background: var(--bg);
   color: var(--text);
}

.nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0px 24px;
   background: #895858;
   position: sticky;
   top: 0;
}

.nav ul {
   list-style: none;
   display: flex;
   gap: 16px;
   margin: 0;
   padding: 0;
}

.nav a {
   color: var(--text);
   text-decoration: none;
}

.nav a:hover {
   color: var(--accent);
}

.hero {
   padding: 80px 24px;
   text-align: center;
}

.hero h2 {
   font-size: 2rem;
   margin-bottom: 8px;
}

.hero p {
   color: var(--muted);
   max-width: 640px;
   margin: 0 auto 16px;
}

.btn {
   display: inline-block;
   background: var(--accent);
   color: #04210e;
   padding: 10px 16px;
   border-radius: 6px;
   text-decoration: none;
   font-weight: 600;
}

main {
   max-width: 900px;
   margin: 0 auto;
   padding: 24px;
}

section {
   margin-bottom: 32px;
}

h3 {
   border-bottom: 1px solid #474644;
   padding-bottom: 8px;
}

.card {
   border: 1px solid rgb(139 142 146);
   padding: 16px;
   border-radius: 8px;
   background: rgb(71, 70, 68, 1);
}

form {
   display: grid;
   gap: 10px;
   max-width: 500px;
}

fieldset {
   background-color: rgb(71, 70, 68, 1);
   border-radius: 5px;
}

input,
textarea,
button {
   padding: 10px;
   border-radius: 6px;
   border: 1px solid #1f2937;
   background: #ffffff;
   color: black, var(--text);
}

button {
   background: var(--accent);
   color: #04210e;
   border: none;
   cursor: pointer;
}

button:hover {
   filter: brightness(1.05);
}

footer {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}

@media (max-width: 600px) {
   .nav ul {
      gap: 8px;
   }

   .hero {
      padding: 60px 16px;
   }
}

@media (max-width: 400px) {
   .nav{
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
   }
   
}